<div id="<%#= dom_id(forecast) %>" class="weather-item">
  <div class="weather-header">
    <h3><%= forecast['dt'].strftime('%A') %></h3>
    <small><%= forecast["summary"] %></small>
  </div>
  <div class="weather-main">
    <img src="<%= forecast["weather"].first["icon_uri"] %>" alt="<%= forecast["weather"].first["description"] %> icon" class="weather-icon" />
    <div class="temperature">
      <div class="temp-max"><%= forecast["temp"]["max"] %>°F</div>
      <div class="temp-min"><%= forecast["temp"]["min"] %>°F</div>
    </div>
  </div>
</div>