<%= form_with(scope: :forecast,
              url: forecasts_path, 
              local: true, 
              method: :get,
              data: { controller: "places",
                      action: "google-maps-callback@window->places#initMap" }) do |form| %>

  <div id="forecast-form">
    <div class="form-group">
      <%= form.search_field :address, class: 'form-control', placeholder: "Enter an address...", required: true, data: { target: "places.field", action: "keydown->places#keydown" } %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :latitude, class: 'form-control', data: { target: "places.latitude" } %>
      <%= form.hidden_field :longitude, class: 'form-control', data: { target: "places.longitude" } %>
    </div>

    <%= form.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
