<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google_maps_api_key] %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>
<%
=begin%>
 https://places.googleapis.com/v1/places/GyuEmsRBfy61i59si0?fields=addressComponents&key=
 https://maps.googleapis.com/maps/api/place/autocomplete/output?parameters 
<%
=end%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
